In [ ]:
Understanding the variables in python

In [1]:
x= 3
y= 2

In [2]:
z=x+y

In [3]:
print(z)

5

In [4]:
p= 26
q= 45

In [5]:
r=(p+q)

In [6]:
print(r)

71

In [8]:
sahil=10678
arfat=676786

In [9]:
total=(sahil+arfat)

In [10]:
print(total)

687464

In [26]:
type(total)

int

In [ ]:
it is a integers because the 'total' is a number

In [ ]:
RULES for Declaring the varibales in Python

In [ ]:
Rule 1: no Namespace while declaring the variable name

In [11]:
first name = 'sahil'

SyntaxError: invalid syntax (2960573741.py, line 1)

In [ ]:
We should not use space

In [12]:
firstname='sahil'

In [13]:
print(firstname)

sahil

In [27]:
type(firstname)

str

In [ ]:
It is a string type

In [14]:
firstname2=najma

NameError: name 'najma' is not defined

In [ ]:
no single quote used hence there's a error s

In [15]:
firstname2='najma'

In [16]:
print(firstname2)

najma

In [ ]:
Rule 2: A variable name will never start with a number

In [17]:
7name='sahil'

SyntaxError: invalid syntax (1668813567.py, line 1)

In [ ]:
it is a error because I have used a number first with a variable name

In [18]:
name7='sahil'

In [19]:
print(name7)

sahil

In [20]:
name9=abbu

NameError: name 'abbu' is not defined

In [ ]:
again I have not used a single quote

In [21]:
name8='abbu'

In [22]:
print(name8)

abbu

In [ ]:
Rule 3: no special character

In [23]:
name@='sahil khan'

NameError: name 'name' is not defined

In [ ]:
i received a error because I used a special character

In [24]:
name90='sahi'

In [25]:
print(name90)

sahi

In [ ]:
INTRODUCTION TO DATATYPES IN PYTHON

In [ ]:
1. STRING

In [28]:
type(firstname2)

str

In [29]:
type(name2)

NameError: name 'name2' is not defined

In [ ]:
It is a error because there is no name2

In [30]:
type(name7)

str

In [ ]:
2. NUMBERS

In [31]:
type(total)

int

In [32]:
type(z)

int

In [ ]:
String Database 
1. Single Quote  --->''
2. Double Quote  --->""
3. Triple Quote  --->""" """

In [33]:
namee1='sahil'        #single quote

In [34]:
print(namee1)

sahil

In [35]:
namee2="ammi"   #double quote

In [36]:
print(namee2)

ammi

In [37]:
namee3="""abbu"""    #triple quote

In [38]:
print(namee3)

abbu

In [ ]:
FOR TITLE ------->(.title())

In [40]:
fullname='sahil khan'

In [41]:
print(fullname.title())

Sahil Khan

In [42]:
fullname2='azad khan'

In [44]:
print(fullname2.title())

Azad Khan

In [ ]:
FOR CAPITAL CASE ====> (.upper())

In [45]:
print(fullname.upper())

SAHIL KHAN

In [47]:
print(fullname2.upper())

AZAD KHAN

In [ ]:
FOR SMALL CASE ====> (.lower())

In [48]:
print(fullname.lower())

sahil khan

In [49]:
print(fullname2.lower())

azad khan